<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Malden Software</title>
</head>
<body>
    <div id="wrap">
        <div id="wrap-inner">
            <div id="content">
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
            <!-- END #content -->
        </div>
        <!-- END #main -->
    </div>
</body>
</html>
