@{
    ViewBag.Title = "Activation Error";
}

<h4>Information</h4>

<p>
    An unknown error occurred while activating your account please try again.
</p>

@Html.ActionLink("Return to the login page", "Login")