@{
    ViewBag.Title = "Activation Success";
}

<h4>Account Activated</h4>

<p>
    Thank you for verifying the account. Your account has now been activated. Please @Html.ActionLink("Click here", "Login") to login
</p>