@{
    ViewBag.Title = "Activation Request";
}

<h4>Information</h4>

<p>
    Your account has been created. However, the service requires account activation before you can use it.
    An email has been sent to the address you provided. Please check your email for further information.
</p>

@Html.ActionLink("Return to the login page", "Login")
